<div class="formstar">

<h1>New State</h1>

<div class="divstar"
<%= render 'form', state: @state %>

<span class="glyphicon glyphicon-backward" aria-hidden="true"></span> <%= link_to 'Back', states_path %>
</div>
</div>

