<div class="formstar">

<h1>Editing Activity</h1>

<div class="divstar">
<%= render 'form', activity: @activity %>

<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
</div>
</div>