<div class="formstar">
<h1>New Activity</h1>

<div class="divstar">
<%= render 'form', activity: @activity %>

<span class="glyphicon glyphicon-backward" aria-hidden="true"></span> <%= link_to 'Back', activities_path %>
</div>
</div>
