<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<ul>
  <li><a><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><a href="#"></a></li>
  <li><a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
  <li><a><span class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
  <li><a><span class="glyphicon glyphicon-calendar" aria-hidden="true"></a></li>
  <li><a><span class="glyphicon glyphicon-search" aria-hidden="true"></a></li>
  <li><a><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a></li>
  <li><a><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
  <li><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
</ul>
</footer>