<div class="container" id="container_about">
<div class="divabout"> 
<h1>About</h1>

<p>Lorem ipsum dolor sit amet, te quo atqui mazim postea. 
Enim congue ei nam, ex commodo consectetuer mea. 
Mei error commune perfecto id, esse erant omnium est no. 
Id eam modus sonet meliore, accumsan iracundia his at. 
Quo id quot novum, per cu postea expetenda, eu brute fugit est. 
Usu option interpretaris no, ex accumsan invidunt voluptaria pro.</p>

<p>Vix ad ceteros intellegat, id per nulla ornatus. 
Est ea tacimates corrumpit sadipscing. Duis imperdiet te pro. 
Veri illud reformidans id nec, eu vix vidit petentium. Nam unum possim quaestio ei.</p>
<div style="margin-top: 50px">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Enter User Name</button>
</div>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Add User Data</button>
</div>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Leave User Comments</button>
</div>
</div>
</div>
</div>
</div>

