<div class="container" id="container_home">
<div class="col-md-6">
<div class="shoutout">
  <div class="body" style="margin-top: 100px">
    <p class="shout">Lorem ipsum dolor sit amet, te quo atqui mazim postea...</p>
    <p class="author">by JOLT.<span class="glyphicon glyphicon-flash" aria-hidden="true"></span> enthusiast</p>
    <p class="date">Oct 22, 2017 @ 5:00PM</p>
  </div>
  <div class="arrow"><button type="button" class="btn btn-success">LEARN MORE NOW <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button></div>
  <div class="shadow"></div>
</div>
</div>
</div>

